body{
    background-color: #EDEDED;
}

.form-layout, .paypal-form-layout {
    max-width: 600px;
    border-radius: 10px;
}

.paypal-form-layout {
    max-width: 500px;
}

.article-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
