{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{% block tab_title %}{% endblock %}</title>

    {% block base_head_content %}
        {% include "common/_base_head_content.html" %}
    {% endblock %}
    </head>

    <body>
        <div class = "container bg-white shadow mt-5 p-5 form-layout">

            <h1>{% block form_title %}{% endblock %}</h1>

            <form method="POST">
                {% csrf_token %}

                {% block form_body %}
                {% endblock %}

                <div class="d-flex justify-content-between align-items-center">
                    <input type="submit" Value="{% block submit_action %}{% translate "Submit" %}{% endblock %}"
                    class="btn btn-success">

                    <div>
                        {% block secondary_actions %}
                            <a href="{% url btn1_url %}" class="btn btn-link btn-light">
                                {% translate btn1_text %}
                            </a>

                            <a href="{% url btn2_url %}" class="btn btn-link btn-light">
                                {% translate btn2_text %}
                            </a>
                        {% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>