{% extends 'common/_base.html' %}
{% load static %}
{% load i18n %}

{% block tab_title %} Pxosys {% endblock %}

{% block navbar_item_margin %} ms-auto {%endblock %}


{% block navbar_option_1 %}
    {% with option_url='commands' option_label='Commands' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_2 %}
    {% with option_url='register' option_label='Register' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_3 %}
    {% with option_url='login' option_label='Login' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_4 %} {% endblock %}

{% block navbar_option_5 %} {% endblock %}

{% block navbar_option_6 %} {% endblock %}

{% block content %}

    <div class="text-center mt-5">
        <h5>
            {% translate "Get access to information about all things networking and cybersecurity!" %}
        </h5>
        <br>
        <p> {% translate "Help the community by adding to our list of commands" %}</p>
        <br>
        <a class="btn btn-success" type="button"  href="{% url 'register' %}">
            <i class="fa fa-angle-right" aria-hidden="true"></i> 
            {% translate "Get started!"%}
        </a>
    </div>
{% endblock %}
