{% extends "account/_main.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block tab_title %} {% translate "Register" %} {%endblock%}


{% block form_title %} {% translate "Register" %} {%endblock%}


{% block form_body %} {{ register_form|crispy}} {%endblock%}


{% block submit_action %} {% translate "Submit" %} {%endblock%}


{% block secondary_actions %}

    {% translate 'Login' as btn1_text %}
    {% translate 'Home' as btn2_text %}

    {% with btn1_url='login' btn2_url='home' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
